html, body{
    height: 100%;
}

main{
    background-color: yellow;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 64px;
    list-style-type: none;
}