.flex1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex2, .flex3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}